nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.in-cart {
  background-color: red;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  display: inline-block;
  min-width: 20px; /* asegura que sea redondo aunque sea "1" */
  text-align: center;
  margin-left: 0.25rem;
}
